.navbar-brand img {
    max-height: 50px;
}

.navbar-nav .nav-link:hover,
.footer .nav-link:hover {
  color: #FFD700; /* a gold-like color */
  text-decoration: underline;
  /* optional glow effect */
  text-shadow: 0 0 4px #FFD700;
}